TURSO_DATABASE_URL=libsql://skyscope-kh--rafi-1.aws-ap-south-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3OTA3MDQzODksImlkIjoiMDFhMGVlNGItYmQwMS03ZjIzLWFjMWQtYjRhYjdjMDg2MDE1Iiwia2lkIjoiSktobTJiWHMyQi1TTjBSb3RxQTIwLVdfY1ZTNkU1czNiYlZoSnBqZVpYRSIsInJpZCI6Ijk5NjNiZTQ1LWE2YWYtNDgxMC1hMzVmLTg2NTZkZTMwZTQ1YSJ9.I0aWy8dvP6W6TWM0Xg7WS8nX9NxMWURf8mLK2rXwFK9xdvrf9O4ArZxXyh2ZuBPH8RAxOQ1vc9-TrS2NTQ_KAA
PORT=3000
